<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{% block title %}{{ title }}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS -->
    <!--[if lt IE 9]>
        {% load staticfiles %} <script src="{% static 'users/js/flot/excanvas.min.js' %}"></script>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	{% load staticfiles %} <link rel="stylesheet" type="text/css" href="{% static 'users/css/cloud-admin.css' %}" >

	{% load staticfiles %} <link href="｛% static 'users/js/font-awesome.min.css' %}" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	{% load staticfiles %} <link rel="stylesheet" type="text/css" href="{% static 'users/js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" />
	<!-- UNIFORM -->
	{% load staticfiles %} <link rel="stylesheet" type="text/css" href="{% static 'users/js/uniform/css/uniform.default.min.css' %}" />
	<!-- ANIMATE -->
	{% load staticfiles %} <link rel="stylesheet" type="text/css" href="{% static 'users/js/animatecss/animate.min.css' %}" />
	<!-- FONTS -->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>